<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="/socket.io/socket.io.js"></script>
    <script src="leap-0.6.4.js"></script>
    <script src= 
       "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
       </script> 
    <script src='script.js'></script>

</head>
<body>
    Hello
    <div id="data">
        
    </div>
    <h1 style="font-size:150px;" id="middlefingerdata">
        
    </h1>

    <h2 id="associatie"></h2>

    <iframe id="SignVideo" src='' style="width:50%; height:auto;"></iframe>
</body>
</html>